body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
}

.box {
    display: block;
    background: #004f71;
    height: 40px;
    font-weight: bold;
}

.home {
    font-weight: bold;
    font-size: 20px;
    color: #004f71;
    text-decoration: none;
}

.home:hover {
    color: rgb(255, 134, 13);
}

.logo {
    display: inline-block;
    background: white;
    padding: 20px 50px 0px;
    max-width: 150px;
    max-height: 75px;
}

.logo2 {
    vertical-align: bottom;
    max-width: 30px;
    max-height: 75px;
    padding-right: 5px;
}

h2 {
    padding-top: 40px;
    font-size: 30px;
    text-align: center;
    color: rgb(75, 75, 75);
}

.p2 {
    font-size: 20px;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 30px;
    text-align: justify;
}

form {
    font-size: 20px;
    padding-left: 10%;
    color: #004f71;
    display: inline;
    text-align: justify;
}

.btn-2 {
    font-size: 16px;
    font-weight: bold;
    background: rgb(255, 134, 13);;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.input-padrao {
    
}

.destaque {
    font-weight: bold;
    color: black;
}

.link {
    text-decoration: none;
}

.resposta {
    font-size: 20px;
    padding-top: 40px;
    padding-left: 10%;
    text-align: justify;
    color: green;
}

em {
    color:red;
}

footer {
    background: #004f71;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 74px;
    position: absolute;
    width: 100%;
}

.lista-herois {
    padding-top: 40px;
    display:flex;
    flex-flow: row wrap;
}
